*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    position: relative;
    min-height: 100%;
}

html {
    height: 100%;
}

body {
    padding: 0 0 100px 0;
}

h1 {
    font-size: 42px;
    margin: 25px 0 50px;
}

header {
    height: 150px;
    background: #202020;
}

ol, ul {
    margin: 15px 0 15px 1em;
}

li {
    margin-bottom: 8px;
}

.logo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.logo__image {
    margin-right: 25px;
}

.logo__title {
    font-size: 48px;
    line-height: 1em;
    font-weight: 700;
    color: #fff;
}

.logo__sub-title {
    color: #00acc1;
    font-size: 32px;
}

.content {
    width: 980px;
    margin: 0 auto;
    padding: 0 15px;
}

.content--flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: 100%;
}

.lessons {
    display: block;
    width: 100%;
}

.lessons__item {
    padding: 25px 16px;
    -moz-box-shadow: 2px 2px 10px #ccc;
    -webkit-box-shadow: 2px 2px 10px #ccc;
    box-shadow: 2px 2px 10px #ccc;
    background: #EBEEF0;
    margin-bottom: 50px;
}

.lessons__title {
    font-weight: 400;
    font-size: 21px;
    margin: 0 0 10px 0;
}

.lessons__content {

}

.link {
    color: #00acc1;
}

.link:hover {
    text-decoration: none;
}

.copyright {
    color: #fff;
}

.weblime, .weblime__link {
    color: #fff;
}

.weblime__link:hover {
    text-decoration: none;
}

footer {
    height: 100px;
    background: #202020;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
}
